.button {
  color: #FFFFFF;
  padding: 15px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
}

.available {
  background-color: #0eaf00;
  cursor: pointer;
}

.available:hover {
  transition: 0.1s;
  color: #0eaf00;
  background-color: #ffff00;
}

.not {
  background-color: #adadad;
  color: #7c7c7c;
}