@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Roboto+Condensed:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  background: radial-gradient(#385838, #000000);
  color: #e1eeeb;
  min-height: 100vh;
}

header {
  text-align: center;
  margin: 3rem auto;
}

header img {
  width: 6rem;
  height: 5rem;
  object-fit: contain;
  background-color: transparent;
}

table {
  width: 100%;
  margin: 2rem auto;
}

table th {
  text-align: center;
}

table td {
  padding: .5rem;
  text-align: right;
}

.input-group {
  margin: 1rem auto;
  display: flex;
  justify-content: space-evenly;
  gap: 1.5rem;
}

.input-section {
  display: flex;
  flex-direction: column;
}

.input-section {
  font-size: .85rem;
  width: 40%;
}

.input-section input {
  color: #FFFFFF;
  width: 100%;
  height: 2rem;
  background-color: transparent;
  border: solid 1px #FFFFFF;
  border-radius: 5px;
}

#container {
  width: 80%;
  margin: auto;
}

#form {
  padding: 1rem;
  background: linear-gradient(#2E6E2E, #55BD55);
}

#message {
  margin: 2rem auto;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2rem;
}