.title {
  color:  #ec02f4;
  background-color: none;
  font-size: 50px;
  text-align: center;
  font-family: Calibri;
  text-decoration:  underline;
}

.container {
  border: solid 20px #ec02f4;
  box-shadow: 10px 10px 10px #afafaf;
  border-radius: 15px;
  margin: auto;
  width: 70%;
}

.lineBreak {
  border: solid 20px #ec02f4;
}

.children {
  padding: 35px;
}