.container {
  font-family: Calibri;
  padding:  25px;
  color:  #ec02f4;
  border: solid 3px #ec02f4;
  border-radius: 15px;
  box-shadow: 10px 10px 10px #afafaf;
  margin-bottom: 30px;
}

.input {
  padding: 10px;
  color: #FFFFFF;
  width: 50%;
  font-size: 18px;
  border-radius: 999px;
  border: solid 1px #ec02f4;
  background-color: #ec02f4;
}

.input:focus {
  outline: solid 1px #ffffff;
}

.button {
  color: white;
  border-radius: 999px;
  border: solid 1px #ec02f4;
  background-color: #ec02f4;
  font-size: 18px;
  font-weight: bold;
  margin-left: 20px;
  padding: 10px;
}

.button:hover {
  color:  #ec02f4;
  border: solid 1px #ec02f4;
  background: none;
  transition: 0.2s;
}