.container {
  border: solid 3px #ec02f4;
  box-shadow: 10px 10px 10px #afafaf;
  border-radius: 15px;
  color: #ec02f4;
  font-family: Calibri;
}

.status {
  text-indent: 20px;
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid 1px #ec02f4;
  border-radius: 9999px;
  padding: 15px;
  margin: 25px;
  font-size: 24px;
}

.completed {
  text-decoration: line-through;
  color:  #c9c9c9;
  opacity:  75%; 
  transition: ease-out 0.3s;
}

.checkbox {
  width: 40px;
  height: 40px;
}